<div class="row">
    <div class="col-md-12">
        <div class="d-flex justify-content-center">
            <nav id="navbar" class="navbar navbar-light white">
                <a class="navbar-brand" href="#">Home</a>
            </nav>
        </div>
    </div>
</div>
<div class="row">

    <div class="col-md-12">
        <div class="d-flex justify-content-center">
            <div class="home-items">
                <div class="row">
                    <div class="md-col-4">
                        <div class="home-item" (click)="btnpatient_click()">
                            <div class="left-side d-flex justify-content-center dark-green">
                                <img class="align-center" src="assets/img/share_icon.png" />
                            </div>
                            <div class="right-side light-green">
                                <div class="header-text">6</div>
                                <div class="small-text">PATIENT</div>
                            </div>
                        </div>
                    </div>
                    <div class="empty-box"></div>
                    <div class="md-col-4">
                        <div class="home-item" (click)="btndoctor_click()">
                            <div class="left-side d-flex justify-content-center dark-red">
                                <img class="align-center" src="assets/img/star_icon.png" />
                            </div>
                            <div class="right-side light-red">
                                    <div class="header-text">3</div>
                                    <div class="small-text">DOCTOR</div>
                            </div>
                        </div>
                    </div>
                    <div class="empty-box"></div>
                    <div class="md-col-4">
                        <div class="home-item" (click)="btnappointment_click()">
                            <div class="left-side d-flex justify-content-center dark-blue">
                                <img class="align-center" src="assets/img/star_icon.png" />
                            </div>
                            <div class="right-side light-blue">
                                    <div class="header-text">3</div>
                                    <div class="small-text">APPOINTMENT</div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>


    </div>
</div>